body {
  /* height: 100vh; */
}
.main-container {
  height: 96vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}
.container {
    height: 50%;
    display: flex;
    flex-direction: row;
    width: 40%;
	background-color: whitesmoke;
}
.results-container {
    width: 50%;
    /* word-wrap: break-word; */
	border-radius: 8px;
	background-color: blue;
}
.description {
    display: flex;
    flex-direction: column;
}
.sum-btn-container {
    width: 50%;
}
.card {
    padding: 2% 3%;
    display: flex;
    flex-direction: column;
}
/*other screens*/

@media screen and (max-width: 400px) {
.container {
width: 80%;
