* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Hanken Grotesk";
}
.main-container {
  height: 96vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}
.container {
  /* height: 50%; */
  display: flex;
  flex-direction: row;
  /* width: 40%; */
  margin: 4%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 30px;
  box-shadow: 1em 1em 0.6em hsl(252, 100%, 97%);
}
.results-container {
  width: 50%;
  /* word-wrap: break-word; */
  border-radius: 30px;
  /* background-color: rgb(49, 44, 234); */
  color: whitesmoke;
  font-weight: 400;
  text-align: center;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
.res {
  font-weight: bolder;
}
.avrg-score {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20%;
  height: 4em;
  width: 4em;
  margin: 2em 0;
  /* background-color: hsla(256, 72%, 46%, 1); */
  border-radius: 100%;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  margin-bottom: 6em;
}
.average {
  font-size: 60px;
  font-weight: 800;
}
.sub-text {
  color: hsl(0, 0%, 80%);
  font-weight: 700;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}
.bg-span {
  font-weight: 800;
  font-size: x-large;
}
.description p {
  font-size: 18px;
}
.sum-btn-container {
  width: 50%;
  color: gray;
}
.head {
  font-weight: 800;
  font-size: 18px;
  /* width: 85%; */
  padding: 0.5em 3em;
}
.summary {
  width: 90%;
  font-size: 18px;
  font-weight: 800;
  margin: 1em;
  color: hsl(224, 30%, 27%);
}
.tab {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  padding: 1.2em 1em;
  margin: 0.5em;
  /* width: 15em; */
  width: 80%;
  border-radius: 8px;
}
.reaction {
  color: hsl(0, 100%, 67%);
  width: 50%;
}
.reaction-tab {
  background-color: hsl(0, 100%, 98%);
}
.memory {
  color: hsl(39, 100%, 56%);
  width: 50%;
}
.memory-tab {
  background-color: hsl(39, 100%, 98%);
  /* margin-bottom: 1%; */
}
.verbal {
  color: hsl(166, 100%, 37%);
  width: 50%;
}
.verbal-tab {
  background-color: hsl(166, 100%, 98%);
}
.visual {
  color: hsl(234, 85%, 45%);
  width: 50%;
}
.visual-tab {
  background-color: hsl(234, 85%, 98%);
}
.score {
  width: 50%;
  text-align: end;
}
.variable-score {
  color: hsl(224, 30%, 27%);
}
.btn {
  background-color: hsl(224, 30%, 27%);
  padding: 5% 7em;
  border: none;
  border-radius: 25px;
  color: hsl(0, 0%, 100%);
  font-weight: 800;
  font-size: 14px;
  width: 90%;
  margin: 4em 0;
  /* word-spacing: 2%; */
}
.card {
  padding: 2% 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*other screens*/

/* @media screen and (max-width: 1000px) {
  .container {
    width: 70%;
  }
}*/
@media screen and (max-width: 414px) {
  .main-container {
    display: block;
    height: auto;
  }
  .container {
    /* width: 100%; */
    /* background-color: black; */
    display: block;
    box-shadow: none;
    margin: 0;
  }
  .results-container {
    border-radius: 0 0 25px 25px;
    width: 98%;
    margin: 0;
  }
  .sum-btn-container {
    width: 98%;
    padding: 2%;
  }
  .card {
    margin: 0;
    padding: 1em 1%;
  }
  .avrg-score {
    /* width: 90%; */
    margin-bottom: 2em;
  }
  .description {
    padding: 3%;
  }
  .bg-span {
    margin-bottom: 20px;
  }
}
